@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --header-background: #67e8f9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: scroll;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: var(--header-background);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title {
    font-weight: bold;
    font-size: xx-large;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}